<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.experitest.ExperiBank"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black" >
        <service
            android:name="com.experitest.android.InstService"
            android:enabled="true"
            android:exported="true" />
        <!--was experience instead of experitest-->
        <activity
            android:name="com.experitest.ExperiBank.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.experitest.ExperiBank.PaymentHomeActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.experitest.ExperiBank.MakePaymentActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.experitest.ExperiBank.CountryListActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.experitest.ExperiBank.MorgageRequestOneActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.experitest.ExperiBank.MorgageRequestTwoActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.experitest.ExperiBank.ExpenseReportActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>